.Checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
    appearance: none;
    border: 2px solid #EEEEEE;
    border-radius: 2px;
}

.Checkbox:checked {
    background-color: #FF5656;
    border: 2px solid #FF5656;
    display: flex;

}

.Checkbox:checked::before {
    content: "\2714";
    padding: 3px;
    font-size: 12px;
    line-height: 12px;
    color: white;
}

@media screen and (max-width: 481px) {
    .Checkbox {
        width: 18px;
        height: 18px;
    }

    .Checkbox:checked::before {
        font-size: 10px;
        max-height: 2px;
        line-height: 14px;
        margin: 0;
        padding-top: 1px;
        padding-left: 3px;
    }
}
