.Header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px;
    justify-content: center;
}

.Header_Title {
    margin: 0 auto;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.Header_Description {
    width: 480px;
    margin: 0 auto;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;
}

.Header_Back_Container {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.Header_Back_Image {
    width: 24px;
    height: 24px;
}

.Header_Back_Text {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin: 0;
}

@media screen and (max-width: 1201px) {
    .Header {
        gap: 8px;
    }

    .Header_Title {
        font-size: 18px;
        line-height: 20px;
    }

    .Header_Description {
        width: 400px;
        font-size: 16px;
        line-height: 18px;
    }

    .Header_Back_Container {
        gap: 8px;
    }

    .Header_Back_Image {
        width: 24px;
        height: 24px;
    }

    .Header_Back_Text {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .Header {
        padding: 32px;
    }

    .Header_Title {
        font-size: 16px;
        line-height: 18px;
    }

    .Header_Description {
        width: 320px;
        font-size: 14px;
        line-height: 16px;
    }

    .Back_Container {
        gap: 8px;
    }

    .Header_Back_Image {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 481px) {
    .Header {
        gap: 4px;
        padding: 24px 16px;
    }

    .Header_Title {
        font-size: 14px;
        line-height: 16px;
    }

    .Header_Description {
        width: 240px;
        font-size: 12px;
        line-height: 14px;
    }

    .Header_Back_Container {
        gap: 8px;
    }
}