.Text_Input {
    display: flex;
    flex-direction: column;
}

.Text_Input_Title {
    width: fit-content;
    font-family: Quicksand, serif;
    z-index: 2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 0 -10px 16px;
}

.Text_Input_Text {
    height: 48px;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-align: left;
    padding: 0 16px 0 16px;
}

.Text_Input_Text::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.Text_Input_Text:focus {
    outline: none !important;
    border: 2px solid #777777;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.05);
    border-radius: 4px;
}

.Text_Input_Text[type=number]::-webkit-inner-spin-button,
.Text_Input_Text[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
