.Filter_Select {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Filter_Select_Input {
    height: 40px;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    padding: 0 40px 0 16px;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border 150ms ease-in-out;
}

.Filter_Select_Input::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.Filter_Select_Input:hover {
    border: 2px solid #AAAAAA;
}

.Filter_Select_Input:focus {
    outline: none !important;
    border: 2px solid #777777;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.05);
    border-radius: 4px;
}

.Filter_Select_Input::-webkit-inner-spin-button,
.Filter_Select_Input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

option[value=""][disabled] {
    display: none;
}

.Filter_Select_Arrow {
    position: absolute;
    right: 16px;
    top: 12px;
    width: 8px;
    height: 8px;
    pointer-events: none;
    border-left:2px solid #CCCCCC;
    border-bottom:2px solid #CCCCCC;
    transform: rotate(-45deg);
    transition: all 150ms ease-in-out;
}

@media screen and (max-width: 1025px) {
    .Filter_Select_Input {
        height: 40px;
        font-size: 13px;
        padding: 0 8px 0 12px;
    }

    .Filter_Select_Arrow {
        right: 12px;
        top: 14px;
        width: 6px;
        height: 6px;
    }
}

@media screen and (max-width: 481px) {
    .Filter_Select_Title {
        font-size: 12px;
        line-height: 14px;
    }

    .Filter_Select_Input {
        height: 32px;
        font-size: 12px;
        padding: 0 12px 0 8px;
    }

    .Filter_Select_Arrow {
        right: 12px;
        bottom: 22px;
        width: 4px;
        height: 4px;
    }
}
