.Password_Text_Input_Container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Password_Text_Input_Title {
    position: absolute;
    width: fit-content;
    font-family: Quicksand, serif;
    z-index: 2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    background-color: white;
    top: -8px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 0 0 16px;
}

.Password_Text_Input_Text {
    height: 48px;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-align: left;
    padding: 0 56px 0 16px;
}

.Password_Text_Input_Text::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.Password_Text_Input_Text:focus {
    outline: none !important;
    border: 2px solid #777777;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.05);
    border-radius: 4px;
}

.Password_Text_Input_Text[type=number]::-webkit-inner-spin-button,
.Password_Text_Input_Text[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.Password_Text_Input_Suffix_Button {
    position: absolute;
    height: 46px;
    width: 46px;
    top: 3px;
    right: 8px;
    background: white;
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.Password_Text_Input_Suffix_Icon {
    height: 24px;
    width: 24px;
}

.Password_Text_Input_Suffix_Icon_Line {
    position: absolute;
    left: 23px;
    top: 9px;
    width: 1px;
    height: 24px;
    background: #333333;
    rotate: 58deg;
}

@media screen and (max-width: 769px) {
    .Password_Text_Input_Title {
        font-size: 12px;
        line-height: 14px;
    }

    .Password_Text_Input_Text {
        height: 44px;
        font-size: 14px;
    }

    .Password_Text_Input_Suffix_Button {
        height: 42px;
        width: 42px;
    }

    .Password_Text_Input_Suffix_Icon_Line {
        left: 21px;
        top: 7px;
    }
}

@media screen and (max-width: 481px) {
    .Password_Text_Input_Title {
        font-size: 12px;
        line-height: 14px;
    }

    .Password_Text_Input_Text {
        height: 40px;
        font-size: 13px;
    }

    .Password_Text_Input_Suffix_Button {
        height: 38px;
        width: 38px;
    }

    .Password_Text_Input_Suffix_Icon_Line {
        left: 19px;
        top: 5px;
    }
}
