.Alert_Dialog {
    display: flex;
    flex-direction: column;
    background: white;
}

.Alert_Dialog_Decoration {
    height: 6px;
}

.Alert_Dialog_Content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 32px 48px;
}

.Alert_Dialog_Image {
    width: 48px;
    height: 48px;
    margin: auto;
}

.Alert_Dialog_Text_Container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Alert_Dialog_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.Alert_Dialog_Description {
    max-width: 360px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    margin: 0;
}

.Alert_Dialog_Button_Container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: end;
    padding: 16px 24px;
    border-top: 1px solid #EEEEEE;
}

.Alert_Dialog_Button {
    min-width: 114px;
    height: 32px;
    background: none;
    border: none;
    border-radius: 4px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
}

.Alert_Dialog_Disagree_Button {
    background: #FFFFFF;
    border: 2px solid #FF5656;
    color: #FF5656;
    transition: background-color 150ms ease-in-out;
}

.Alert_Dialog_Disagree_Button:hover {
    background: #EEEEEE;
}

.Alert_Dialog_Agree_Button_Success {
    background: #25B45A;
    color: #FFFFFF;
    transition: background-color 150ms ease-in-out;
}

.Alert_Dialog_Agree_Button_Success:hover {
    background: #22a452;
}

.Alert_Dialog_Agree_Button_Info {
    background: #497AF8;
    color: #FFFFFF;
    transition: background-color 150ms ease-in-out;
}

.Alert_Dialog_Agree_Button_Info:hover {
    background: #355ec5;
}

.Alert_Dialog_Agree_Button_Warning {
    background: #FFB800;
    color: #FFFFFF;
    transition: background-color 150ms ease-in-out;
}

.Alert_Dialog_Agree_Button_Warning:hover {
    background: #e3a301;
}

.Alert_Dialog_Agree_Button_Error {
    background: #FF5656;
    color: #FFFFFF;
    transition: background-color 150ms ease-in-out;
}

.Alert_Dialog_Agree_Button_Error:hover {
    background: #e04c4c;
}

@media screen and (max-width: 1025px) {
    .Alert_Dialog_Decoration {
        height: 4px;
    }

    .Alert_Dialog_Content {
        gap: 24px;
        margin: 32px 40px;
    }

    .Alert_Dialog_Image {
        width: 40px;
        height: 40px;
    }

    .Alert_Dialog_Text_Container {
        gap: 8px;
    }

    .Alert_Dialog_Title {
        font-size: 16px;
        line-height: 18px;
    }

    .Alert_Dialog_Description {
        max-width: 360px;
        font-size: 14px;
        line-height: 16px;
    }

    .Alert_Dialog_Button_Container {
        gap: 16px;
        padding: 16px;
    }

    .Alert_Dialog_Button {
        min-width: 104px;
        height: 32px;
        font-size: 13px;
        line-height: 15px;
    }
}

@media screen and (max-width: 769px) {
    .Alert_Dialog_Decoration {
        height: 4px;
    }

    .Alert_Dialog_Content {
        gap: 24px;
        margin: 32px;
    }

    .Alert_Dialog_Image {
        width: 40px;
        height: 40px;
    }

    .Alert_Dialog_Text_Container {
        gap: 8px;
    }

    .Alert_Dialog_Title {
        font-size: 15px;
        line-height: 16px;
    }

    .Alert_Dialog_Description {
        max-width: 320px;
        font-size: 13px;
        line-height: 15px;
    }

    .Alert_Dialog_Button_Container {
        gap: 12px;
        padding: 12px;
    }

    .Alert_Dialog_Button {
        min-width: 96px;
        height: 28px;
        font-size: 13px;
        line-height: 15px;
    }
}

@media screen and (max-width: 481px) {
    .Alert_Dialog_Decoration {
        height: 4px;
    }

    .Alert_Dialog_Content {
        gap: 24px;
        margin: 24px 24px;
    }

    .Alert_Dialog_Image {
        width: 32px;
        height: 32px;
    }

    .Alert_Dialog_Text_Container {
        gap: 8px;
    }

    .Alert_Dialog_Title {
        font-size: 14px;
        line-height: 16px;
    }

    .Alert_Dialog_Description {
        font-size: 12px;
        line-height: 15px;
    }

    .Alert_Dialog_Button_Container {
        gap: 12px;
        padding: 8px;
    }

    .Alert_Dialog_Button {
        min-width: 80px;
        height: 28px;
        font-size: 12px;
        line-height: 14px;
    }
}