.Logo {
    display: flex;
    appearance: none;
    cursor: pointer;
    border: none;
    background: none;
}

.Logo_Image {
    height: 32px;
    pointer-events: none;
}

@media screen and (max-width: 769px) {
    .Logo_Image {
        height: 28px;
    }
}
