@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

button, input, select, option, textarea, img {
    margin: 0;
}

.User_Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Nav_Menu_Container {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.Side_Menu_Container {
    height: 100%;
    flex: 1;
}

.Side_Menu_Carpet {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    border: none;
    z-index: 1;
}

.Side_Menu_Header_Button {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 40px;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.Side_Menu_Shop_Button {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 16px;
    height: 40px;
    width: 40px;
    background: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}

.Side_Menu_Shop_Button {
    background: #FAFAFA;
}

.Side_Menu_Shop_Button_Image {
    content: url("/assets/images/menu/jopit_menu.png");
    width: 16px;
    height: 16px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
    background: transparent !important;
    border: 2px solid #4285F4;
}

.Toastify__toast {
    border: none !important;
    font-family: Quicksand, serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #333333 !important;
    border-radius: 4px !important;
    background: #FFFFFF !important;
}

.Toastify__toast-body {
    white-space: pre-line;
}

.Toastify__toast--info {
    --toastify-color-progress-error: #3498DB !important;
}

.Toastify__toast--success {
    --toastify-color-progress-error: #25B45A !important;
}

.Toastify__toast--error {
    --toastify-color-progress-error: #FF5656 !important;
}

@media screen and (max-width: 769px) {
    .Side_Menu_Shop_Button {
        display: flex;
    }
}
